
#MainContent,
#MainContentWrapper,
#MainContentTop_OneColumn,
#MainContentTop_TwoColumn,
#MainContentTop_ThreeColumn,
#MainContentBottom_OneColumn,
#MainContentBottom_TwoColumn,
#MainContentBottom_ThreeColumn {
	width:680px;
}

#LeftColumn,
#LeftColumn #categorylist-box,
#LeftColumn #search-box,
#LeftColumn #newslettersubscribe-box,
#LeftColumn #blog-box,
#LeftColumn #quicklogin-box,
#LeftColumn #tagging-box,
#LeftColumn #pagenews-box,
#LeftColumn #shoppingcart-box,
#LeftColumn #topten-box,
#LeftColumn #paymenticons-box,
#LeftColumn #calendar-box,
#LeftColumn #vatselect-box,
#LeftColumn #facebook-box,
#LeftColumn #twitter-box,
#LeftColumn #google-box,
#LeftColumn #categorylist-box-top,
#LeftColumn #search-box-top,
#LeftColumn #newslettersubscribe-box-top,
#LeftColumn #blog-box-top,
#LeftColumn #quicklogin-box-top,
#LeftColumn #tagging-box-top,
#LeftColumn #pagenews-box-top,
#LeftColumn #shoppingcart-box-top,
#LeftColumn #topten-box-top,
#LeftColumn #paymenticons-box-top,
#LeftColumn #calendar-box-top,
#LeftColumn #vatselect-box-top,
#LeftColumn #facebook-box-top,
#LeftColumn #twitter-box-top,
#LeftColumn #google-box-top,
#LeftColumn ul.tabs {
	width:240px;
}

#RightColumn,
#RightColumn #categorylist-box,
#RightColumn #search-box,
#RightColumn #newslettersubscribe-box,
#RightColumn #blog-box,
#RightColumn #quicklogin-box,
#RightColumn #tagging-box,
#RightColumn #pagenews-box,
#RightColumn #shoppingcart-box,
#RightColumn #topten-box,
#RightColumn #paymenticons-box,
#RightColumn #calendar-box,
#RightColumn #vatselect-box,
#RightColumn #facebook-box,
#RightColumn #twitter-box,
#RightColumn #google-box,
#RightColumn #categorylist-box-top,
#RightColumn #search-box-top,
#RightColumn #newslettersubscribe-box-top,
#RightColumn #blog-box-top,
#RightColumn #quicklogin-box-top,
#RightColumn #tagging-box-top,
#RightColumn #pagenews-box-top,
#RightColumn #shoppingcart-box-top,
#RightColumn #topten-box-top,
#RightColumn #paymenticons-box-top,
#RightColumn #calendar-box-top,
#RightColumn #vatselect-box-top,
#RightColumn #facebook-box-top,
#RightColumn #twitter-box-top,
#RightColumn #google-box-top,
#RightColumn ul.tabs {
	width:240px;
}


